language: node_js
node_js:
  - '0.10'
  - '0.12'

env:
  global:
    - secure: QJioR6xrAV6VzV4dI+0kaesq79tZquH0IaseVJ46jm0fcG+YoZNu+eC2fgMDyd6pzWrTJ55m35UsIlFxYMq6+EQS/YwvoGx3mTwmJCXDGq87sH4e6ZcKL4asWMSB5FKCrvTatPjwJpCLCWfSYd4euTTloWGE6ir2/dtXLHhfQ+Y=
    - secure: FmFxUnct2XwBdZRjllmOC/xt+FSVGCcezdhdGyXSz1yF88HnTcsN7UX8qMjMUIrc0t8Lbeeqc0tgP7OSeqmdUff0EGsr8tOKvz4hiW8X8g47iBg20hLWgOSa3sWmLsZNB4OEqL+KDdHxwPZX4inYvBcsGURsTekXvu4Ky3doPSY=
